<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
             http://www.springframework.org/schema/beans 
             http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean class="controller.prod.ProdController"/>
	<bean id="productAutoNumService" class="service.product.ProductAutoNumService"/>
	<bean id="productRepository" class="repository.ProductRepository"/>
	<bean id="productJoinService" class="service.product.ProductJoinService"/>
	<bean id="productListService" class="service.product.ProductListService"/>
	<bean id="productInfoService" class="service.product.ProductInfoService"/>
	<bean id="productModifyService" class="service.product.ProductModifyService"/>
	<bean id="productDeleteService" class="service.product.ProductDeleteService"/>
	<bean id="cartAddService" class="service.product.CartAddService"/>
	<bean id="cartListService" class="service.product.CartListService"/>
	<bean id="cartQtyDownService" class="service.product.CartQtyDownService"/>
	<bean id="prodBuyService" class="service.product.ProdBuyService"/>
	<bean id="goodsOrderService" class="service.product.GoodsOrderService"/>
	<bean id="purchaseListService" class="service.product.PurchaseListService"/>
</beans>