<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
             http://www.springframework.org/schema/beans 
             http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean class="controller.employees.EmployeesController"/>
	<bean id="employeesService" class="service.employees.EmployeesService"/>
	<bean id="employeesRepository" class="repository.EmployeesRepository"/>
	<bean id="employeesNoService" class="service.employees.EmployeesNoService"/>
	<bean id="employeesListService" class="service.employees.EmployeesListService"/>
	<bean id="employeesInfoService" class="service.employees.EmployeesInfoService"/>
	<bean id="employeesModifyService" class="service.employees.EmployeesModifyService"/>
</beans>