<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.productMapper">
<select id="autoNum" resultType="string">
	select GOODS_NUM.nextval from dual
</select>
<select id="catList" resultType="model.CategoryDTO">
	select CAT_NUM catNum, CAT_TYPE catType, CAT_NAME catName from category
</select>
<insert id="prodInsert" parameterType="model.ProductDTO">
	insert into product(PROD_NO, CAT_NUM, PROD_NAME, PROD_PRICE, PROD_INFO, PROD_IMAGE, EMP_NO)
	values(#{prodNo},#{catNum},#{prodName},#{prodPrice},#{prodInfo},#{prodImage},#{empNo})
</insert>
<select id="prodList" resultType="model.ProductDTO">
	select PROD_NO prodNo, CAT_NUM catNum, PROD_NAME prodName, PROD_PRICE prodPrice, PROD_INFO prodInfo, PROD_IMAGE prodImage, EMP_NO empNo from product
</select>
<select id="prodInfo" parameterType="String" resultType="model.ProductDTO">
	select PROD_NO prodNo, CAT_NUM catNum, PROD_NAME prodName, PROD_PRICE prodPrice, PROD_INFO prodInfo, PROD_IMAGE prodImage, EMP_NO empNo
	from product
	where PROD_NO = #{prodNo}
</select>
<update id="prodUpdate">
	update product
	set PROD_NAME = #{prodName}, PROD_PRICE = #{prodPrice}, PROD_INFO = #{prodInfo}
	where PROD_NO = #{prodNo}
</update>
<delete id="prodDelete" parameterType="string">
	delete from product
	where PROD_NO = #{prodNo}
</delete>
<update id="cartInsert" parameterType="model.CartDTO">
	merge into cart c
	using (select PROD_NO from product where PROD_NO = #{prodNo}) p
	on (c.PROD_NO = p.PROD_NO and MEMB_ID = #{membId})
	When MATCHED THEN
	update set CART_QTY = CART_QTY + #{cartQty}, CART_PRICE = CART_PRICE + #{cartPrice}
	When not MATCHED THEN
	insert (MEMB_ID, PROD_NO, CAT_NUM, CART_QTY, CART_PRICE)
	values (#{membId},#{prodNo},#{catNum},#{cartQty},#{cartPrice})
</update>
<select id="membCart" parameterType="string" resultType="string">
	select PROD_NO from cart where MEMB_ID = #{membId}
</select>
<!-- selectList를 사용할 수 없다. selectOne -->
<resultMap type="model.ProductCartDTO" id="productCartMap">
	<association property="productDTO" javaType="model.ProductDTO">
		<result column="prod_name" jdbcType="VARCHAR" property="prodName"/>
		<result column="prod_price" jdbcType="VARCHAR" property="prodPrice"/>
	</association>
	<association property="cartDTO" javaType="model.CartDTO">
		<id column="memb_id" jdbcType="VARCHAR" property="membId"/>
		<id column="prod_no" jdbcType="VARCHAR" property="prodNo"/>
		<result column="cart_qty" jdbcType="VARCHAR" property="cartQty"/>
		<result column="cart_price" jdbcType="VARCHAR" property="cartPrice"/>
	</association>
</resultMap>
<select id="cartList" parameterType="model.CartDTO" resultMap="productCartMap">
	select PROD_NAME, PROD_PRICE, MEMB_ID, c.PROD_NO, CART_QTY, CART_PRICE
	from product p, cart c
	where p.PROD_NO = c.PROD_NO and c.MEMB_ID = #{membId} AND c.PROD_NO = #{prodNo}
</select>
<update id="cartQtyDown" parameterType="model.ProductDTO">
	update cart
	set cart_qty = cart_qty - 1, cart_price = cart_price - #{cartPrice}
	where memb_id = #{membId} and prod_no = #{prodNo}
</update>
<insert id="purInsert" parameterType="model.PurchaseDTO">
	insert into purchase(pur_no, pur_date, pur_total, pur_addr, pur_receiver, pur_receiver_phone_number, pur_msg, memb_id)
	values(#{purNo},sysdate,#{purTotal},#{purAddr},#{purReceiver},#{purReceiverPhoneNumber},#{purMsg},#{membId})
</insert>
<insert id="purListInsert">
	
</insert>
</mapper>