<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.productMapper">
<select id="autoNum" resultType="string">
	select GOODS_NUM.nextval from dual
</select>
<select id="catList" resultType="model.ProductDTO">
	select CAT_NUM catNum, CAT_TYPE catType, CAT_NAME catName from category
</select>
</mapper>